{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{title}}{% endblock title %}

{% block content %}
<h1>{{title}}</h1>
{% if download_path %}
<a href="{{download_path}}" class="btn btn-primary">
    Template Download
</a>
{% endif %}
<form method="post" action="." enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">{{submit}}</button>
</form>
{% if result %}
<hr/>
<h2>Result</h2>
<p>允壓量範圍(um)：{{result|floatformat:-7}}</p>
<p>LC Margin: {{lc_margin|floatformat:-2}} %</p>
{% endif %}
{% if result_T1 %}
<div>
    <h3>Table 1: T1 Result</h3>
    {{ result_T1|safe }}
</div>
{% endif %}
{% if result_T2 %}
<div>
    <h3>Table 2: T2 Result</h3>
    {{ result_T2|safe }}
</div>
{% endif %}
{% if result_download %}
<a href="{% url 'main:result_download' %}" class="btn btn-primary">
    Result Download
{% endif %}
{% endblock content %}